" normal vim config
source ~/.config/nvim/init.vim

" IDE specific binds

" Actions 
:map <leader>f <Action>(ReformatCode)
:map <leader>q <Action>(CloseEditor)
:map <leader>r <Action>(Run)
:map <leader>d <Action>(Debug)

" Various tabs of the search everywhere menu
:map <leader>e <Action>(SearchEverywhere)
:map <leader>c <Action>(GotoClass)
:map <leader>n <Action>(GotoFile)
:map <leader>s <Action>(GotoSymbol)
:map <leader>a <Action>(GotoAction)


" Hover pop-ups 
:map ge <Action>(ShowErrorDescription)
:map gi <Action>(QuickJavaDoc)

" Movement 
:map gd <Action>(GotoDeclaration)
:map <leader><leader> <Action>(Back)
